body {
  margin: 0;
  font-family: "Comic Sans MS", cursive;
  background: linear-gradient(#ffeef4, #fff6e5);
  text-align: center;
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

h1 {
  color: #ff4f9a;
}

p {
  color: #555;
}

.pink {
  color: #ff6fae;
}

.blue {
  color: #6aa9ff;
}

button {
  background: #ff4f9a;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 20px;
}

.letter-card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.envelope {
  width: 250px;
  height: 160px;
  background: #ffd6e8;
  margin: 40px auto;
  border-radius: 20px;
  position: relative;
}

.seal {
  position: absolute;
  top: 60px;
  left: 100px;
  font-size: 30px;
}

.cat-box img {
  width: 200px;
}

.cake {
  width: 220px;
  height: 150px;
  background: #8b4513;
  border-radius: 0 0 20px 20px;
  margin: 30px auto;
  position: relative;
}

.cake::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 220px;
  height: 40px;
  background: pink;
  border-radius: 20px 20px 0 0;
}

.candle {
  width: 10px;
  height: 40px;
  background: red;
  position: absolute;
  top: -70px;
  left: 105px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 90px;
  height: 120px;
  background: #ffe3f1;
  border-radius: 15px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

